**/*.ts
**/*.ts.map
**/*.tsconfig.tsbuildinfo
.vscode/**

client/src/**
server/src/**

**/node_modules/**

tsconfig.json
client/tsconfig.json
server/tsconfig.json
webpack.config.js
esbuild.js

compil.md

!client/out/**
!server/out/**
!dist/**
!images/**
!snippets/**
!syntaxes/**
!language-configuration.json
